*{
    display:flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.Blog{
    display:flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}